/* @import "./base.css"; */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
	padding: 0;
	margin: 0;
	background-color: #bfdeed;
	color: #212121;
	font-family: "Poppins", sans-serif;
}

header {
	background-image: url(src/assets/background-header.png);
	height: 11rem;
	padding: 0 50px;
}

header h1 {
	margin: 10px 0;
	font-size: 48px;
	font-weight: 700;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-container {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	padding-left: 20px;
	gap: 10px;
}

.myorder-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 25rem;
}

.order-item-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 25rem;
	margin-bottom: 1rem;
}

.landing-page-card {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 25rem;
	margin-bottom: 1rem;
}

.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	text-align: center;
	margin: 1rem;
}

.menu-item-details-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1rem;
	width: 25rem;
}

.filter-container {
	margin: 25px 50px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 25px 50px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	background-color: #212121;
	color: #e8e8e8;
	font-size: 12px;
	font-weight: 700;
	height: 2.5rem;
	width: 100%;
	z-index: 2;
}

header li {
	display: inline;
	margin-left: 30px;
	font-size: 24px;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
	text-decoration: none;
}

a:visited {
	color: #212121;
}

a:hover {
	font-style: italic;
	cursor: pointer;
}

.img-logo {
	width: 17rem;
}

.img-item {
	width: 17rem;
	border-radius: 20px;
}

.img-item-details {
	width: 25rem;
	border-radius: 20px;
}

.img-gold-star {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	z-index: 1;
}

input {
	background: #e8e8e8;
	border: 5px solid #8ec1da;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	width: 250px;
}

.dark-btn {
	background: #212121;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #e8e8e8;
	padding: 5px;
}

.pink-btn {
	background: #ffcfef;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #212121;
	padding: 5px;
}

.blue-btn {
	background: #8ec1da;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	font-size: 12px;
	font-weight: 700;
	color: #212121;
	padding: 5px;
	margin: 1rem;
	width: 5rem;
}

.search-input {
	background: #e8e8e8;
	border: 5px solid #8ec1da;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	height: 2rem;
	width: 40rem;
	text-align: center;
}

.centered-text {
	text-align: center;
}

.order-size-display {
	background-color: #e8e8e8;
	border-radius: 20px;
	padding: 5px 15px;
	color: rgb(255, 73, 103);
	box-shadow: none;
}

.primary-navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mobile-nav-toggle {
	display: none;
}

.primary-navigation[data-visible="true"] {
	transform: translateX(0%);
}
/* 
@media (max-width: 70rem) {
	.primary-navigation {
		position: fixed;
		inset: 0 0 0 50%;
		background-color: #a7d0e3;
	}

	header li {
		display: block;
	}
} */

@media (max-width: 70rem) {
	.primary-navigation {
		position: fixed;
		inset: 0 0 0 30%;
		background-color: #a7d0e3;
		transform: translateX(100%);
	}

	header li {
		display: block;
	}

	.mobile-nav-toggle {
		display: block;
		background: url(src/assets/icon-menu.svg);
		background-repeat: no-repeat;
		position: absolute;
		z-index: 9999;
		width: 3.2rem;
		height: 2.2rem;
		top: 2rem;
		right: 2rem;
		border: 0;
		cursor: pointer;
	}
}
